/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  background-color: #F6F6F6;
}

/* ROOT CSS */
:root {
  --primary-color: #F32424;
  --secondary-color: #858585;
  --text-color: #949494;
  --bg-primary-color: #F32424;
  --bg-hover-color: #fceded;
  --bg-white: #ffffff;
  --border-color: #F32424;
}

.primary-color {
  color: var(--primary-color);
}

.text-color {
  color: var(--text-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.bg-primary-color {
  background-color: var(--bg-primary-color);
}

.bg-white {
  background-color: var(--bg-white);
}

.border-color {
  border-color: var(--border-color);
}

/* ROOT CSS */

/* ============== HEADER START ============== */

/* TOP MENU START */

.top-menu .nav-link {
  position: relative;
}

.top-menu .nav-link.active,
.top-menu .nav-link:hover {
  color: var(--primary-color);
}

.top-menu .nav-link.active::after,
.top-menu .nav-link:not(.profile):hover::after {
  content: "";
  height: 2px;
  width: 20px;
  display: block;
  margin: auto;
  background-color: var(--bg-primary-color);
  color: var(--primary-color);
  border-radius: 2px;
}

/* TOP MENU END */

.nav-hr {
  margin: 0 4px;
  padding: 0;
  color: #CDCDCD;
}

.navbar-toggler {
  font-size: 20px;
  border: none;
}

.top-menu .profile img {
  height: 30px;
  width: 30px;
}

button.navbar-toggler:focus {
  box-shadow: none;
}

/* MAIN MENU START */
.main-menu .nav-item .nav-link {
  padding: 5px 10px;
}

.main-menu .nav-item .nav-link.active,
.main-menu .nav-item .nav-link:hover {
  background-color: var(--bg-hover-color);
  color: var(--primary-color);
  border-radius: 5px;
}

/* MAIN MENU END */

/* ============== HEADER END ============== */


/* ============== MAIN CONTENT START ============== */
/* FILTER AREA START */

.filter .short-filter .short-filter {
  border: none;
  background-color: #fff;
  color: #ABADC6;
  padding: 5px 35px;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
}

.filter .trending-filter .btn {
  border-color: var(--border-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.filter .trending-filter .btn:hover {
  opacity: 0.9;
}

.filter .trending-filter .btn-outline {
  background-color: transparent;
  color: var(--primary-color);
}

.filter .trending-filter .btn-outline:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* FILTER AREA END */

/* =====  NEWS CONTENT START ===== */
.news-title {
  cursor: pointer;
  color: #121221;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.news-title:hover {
  color: var(--primary-color);
}

/* SINGLE NEWS START */
.single-news-content .news-description {
  line-height: 26.5px;
}

.single-content-extra-info {
  color: var(--secondary-color);
}

.single-content-extra-info img {
  height: 45px;
  width: 45px;
}

.single-content-extra-info .date {
  font-size: 14px;
}

.read-news-button {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  height: 40px;
  width: 40px;
  color: var(--primary-color);
  transition: 0.1s ease-in;
}

.read-news-button:hover {
  background-color: var(--bg-primary-color);
  color: #fff;
}

/* SINGLE NEWS END */
/* =====  NEWS CONTENT END ===== */

/* ============== MEDIA QUERY START ============== */
@media screen and (max-width:575px) {

  .top-menu .navbar-brand {
    font-size: 16px;
  }

  .top-menu .nav-link {
    font-size: 14px;
  }

  .filter {
    font-size: 14px;
  }

  .single-content-extra-info {
    font-size: 14px;
  }

  .single-content-extra-info img {
    height: 35px;
    width: 35px;
  }

}

/* ============== MEDIA QUERY END ============== */